footer {
    background: #161616;
    height: 100px;
}

.footer--container {
    display: flex;
    margin: auto;
    width: 20%;
}

.footer--container a {
    color: white;
    margin:auto;
    margin-top: 40px;
    font-size: 17px;
}

.footer--container a:hover {
    color: #0d449b;
}

.footer--copyright {
    text-align: right;
    color: #0d449b;
    font-size: 10px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 0px;
}