.main--container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: #161616;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.album--card {
  width: 40%;
  margin: 4% 4% 0% 5%;
  border: 4px solid #0d449b;
  transition: all 0.45s ease-in-out;
}

.album--card:hover {
  transform: scale(1.02);
}

.album--image {
  width: 100%;
  border-bottom: 4px solid #0d449b;
}

.album--title {
  margin-top: 2.5%;
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.album--artist {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
}

.album--links {
  display: flex;
  margin: auto;
  width: 40%;
  margin-bottom: 2.5%;
}

.album--links a {
  color: white;
  margin: auto;
  font-size: 20px;
}

.album--links a:hover {
  color: #0d449b;
}

@media only screen and (max-width: 1610px) {
  .album--title {
    font-size: 30px;
  }
  .album--artist {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1370px) {
  .album--title {
    font-size: 25px;
  }
  .album--artist {
    font-size: 15px;
  }
  .album--links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1120px) {
  .album--card {
    width: 80%;
    margin: 7.5% 10% 0% 10%;
  }
  .album--title {
    font-size: 35px;
  }
  .album--artist {
    font-size: 30px;
  }
  .album--links a {
    font-size: 20px;
  }
}


@media only screen and (max-width: 790px) {
  .album--title {
    font-size: 30px;
  }
  .album--artist {
    font-size: 20px;
  }
}

@media only screen and (max-width: 680px) {
  .album--title {
    font-size: 25px;
  }
  .album--artist {
    font-size: 15px;
  }
  .album--links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 560px) {
  .album--title {
    font-size: 20px;
  }
  .album--artist {
    font-size: 11px;
    letter-spacing: 0.65rem;
  }
}

@media only screen and (max-width: 375px) {
  .album--title {
    font-size: 15px;
  }
  .album--artist {
    font-size: 8px;
    letter-spacing: 0.5rem;
  }
  .album--links a {
    font-size: 10px;
  }
}