.main--container {
  display: flex;
  flex-flow: row wrap;
  background: #161616;
  color: white;
}

.project--card {
  display: flex;
  margin: 2% 5%;
  border: 2px solid #0d449b;
  transition: all 0.45s ease-in-out;
}

.project--card:hover {
  transform: scale(1.03);
}

.project--card:first-of-type {
  margin-top: 4%;
}

.project--image {
  width: 40%;
  border-right: 2px solid #0d449b;
  margin: 0;
}

.project--details {
  width: 100%;
  margin: auto 5% auto 5%;
}

.project--details-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.project--details-technologies {
  font-weight: lighter;
  font-size: 18px;
  font-style: italic;
}

.project--details-link {
  color: white;
  font-size: 25px;
  margin: 10px 25px 10px 1px;
}

.project--details-link:hover {
  color: #0d449b;
}
