@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './navbar';
@import './footer';
@import './bio';
@import './technologies';
@import './projects';
@import './music';
@import './podcasts';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}